## Buid and Deploy
name: Build and Push Docker image

on:
  push:
    branches:
      - main  # Change this to your branch name if different

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.AZURE_REGISTRY_LOGIN_SERVER }}
          username: ${{ secrets.AZURE_REGISTRY_USERNAME }}
          password: ${{ secrets.AZURE_REGISTRY_PASSWORD }}

      - name: Build Docker image
        run: docker build . -t ${{ secrets.AZURE_REGISTRY_LOGIN_SERVER }}/testsecretscontaineronwebapp:latest

      - name: Push Docker image
        run: docker push ${{ secrets.AZURE_REGISTRY_LOGIN_SERVER }}/testsecretscontaineronwebapp:latest
